html{
  position: relative;
}

body {
    overflow-x: hidden;
}

.imagen-menu{
  width: 100%;
  height: auto;
}
.navbar-brand{
  width: 40%;
}
/* Panel de la izquierda*/
.panel{
  background-color: #9c66b5;
  height: 200%;
  padding-bottom: 5%;
  padding-top: 2%;
}

.panel li a{
  color: #ffffff;
  font-weight: bold;
  margin-left: 5%;
}
.panel li a:hover{
  font-size: 100%;
  color: #000000;
  text-decoration:none;
}
.panel li{
  padding-top: 5%;
  margin-left: 2%;
}
.panel li ul span{
  margin-left: 5%;

}
.boton{
  margin-left: 0.5%;
}
/*fin panel de la izquierda*/

.imagen-fondo{
  width: 50%;
  height: 50%;
  opacity: 0.5;
}

.destacar a{
  text-decoration: underline;
}
.destacar ul li a{
  text-decoration: inherit;
}
.destacar2 a{
  text-decoration: underline;
}

.linea{
  border-color:#b3afaf;
}


.input_consulta{
  color: #000000;
  box-shadow: none;
}
