html{
  position: relative;
  min-height: 100%;

}


body{
  background-image: url("../images/imagen1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cuerpo{
  margin-top: 15%;
  margin-left: 10%;
  height: 40%;
  width: 70%;
}

.titulo{
  width: 70%;
  height: 70%;
}

.titulo h1{
  font-size: 300%;
  color: #ffffff;

}

.acceso{
  width: 30%;
  height: 40%;
  background-color: white;
}

#imagen-menu{
  width: 30%;
  height: auto;
}

.formulario{
  background-color: white;
  border-radius: 10px;
  margin-left: 1%;
}

.botones-formulario{
  margin-bottom: 5%;
}
