html{
  position: relative;
}

body {
    overflow-x: hidden;
}

#imagen-menu{
  width: 30%;
  height: auto;
}

/* Panel de la izquierda*/
.panel{
  background-color: #9c66b5;
  height: 200%;
  padding-bottom: 5%;
  padding-top: 2%;
}

.panel li a{
  color: #ffffff;
  font-weight: bold;
}
.panel li a:hover{
  font-size: 100%;
  color: #000000;
  text-decoration:none;
}
.panel li{
  padding-top: 5%;
  margin-left: 2%;
}
.boton{
  margin-left: 0.5%;
}

/*panel de la derecha*/
.contenido{

}

#imagen-fondo{
  width: 50%;
  height: 50%;
  opacity: 0.5;
}
